In [ ]:
import pandas as pd
import numpy as np

# List Jadwal Kantor

In [ ]:
df = pd.read_excel('/content/jadwal_kantor.xlsx')

In [33]:
df.head(5)

,NAMA_PEGAWAI,Unit_Organisasi,SENIN,SELASA,RABU,KAMIS,JUMAT
0,Tekad Widodo Setiawan,KPP Pratama,WFO,WFO,WFO,WFH,WFO
1,Alkhayatun Widiastuti,Seksi Pelayanan,WFO,WFO,WFH,WFO,WFO
2,M. Rizal Gunawan,Seksi Penjaminan Kualitas Data,WFO,WFH,WFO,WFO,WFO
3,Irwansyah Lubis,"Seksi Pemeriksaan, Penilaian, dan Penagihan",WFO,WFO,WFO,WFH,WFO
4,Mufaidi,Seksi Pengawasan I,WFO,WFO,WFH,WFO,WFO

In [ ]:
df.shape

(116, 7)

In [ ]:
df.columns = df.columns.str.replace(' ','_')

In [ ]:
ex_nama = ['Mely Margaretha','Chaula Tafriza','Melani Tri Asari','Agung Gumelar','Fera Fanda Luturmas','Retno Tri Susanti',\
           'Budi Warsito','Agus Sukarta','Eko Cahyo Putranto','Khisna Nur Aziza','Farah Atika Zahra','Dyah Ayu Sitta Rokhania',\
           'Firda Maharani Anwar','Masgahara Sumarni','Luluk Amirothul Munawaroh','Yuanto Surya Pratama','Reike Rahayu Widyaningtyas',\
           'Nur Aulia','Radita Ari Purwaning','Sri Hardini Wijatsari','Tekad Widodo Setiawan','Alkhayatun Widiastuti','Fery Daluirmanto',\
           'Intan Intarty','Mufi Datun Khasanah','Siti Laely Nur Azizah','Yogma Dwi Aprianto','Ruly Erika Sandra','Yunita Asmidar',\
           'Asri Ambarsari','Alvoncha Rizky Prabowo','Teguh Triyanto','Fariza Irinne','Erlin Ardi Cahyaningmas','Astrid Isyana Biki','Nurlaila',\
           'Fardhani Binarsanti','Safingi Suhari','Jessica Zabrina','Anis Nur Ariffin','Agnes Adelin S','Virani Dhini Ramadhan','Syifa Ahmad Fajri Hadiyanto Putra','Sri Hardini Wijatsari']

In [ ]:
df_jkantor = df[~df.NAMA_PEGAWAI.isin(ex_nama)]

In [ ]:
df_jkantor.shape

(73, 7)

In [ ]:
df_jkantor.reset_index(drop=True, inplace=True)

In [ ]:
df_jkantor

,NAMA_PEGAWAI,Unit_Organisasi,SENIN,SELASA,RABU,KAMIS,JUMAT
0,M. Rizal Gunawan,Seksi Penjaminan Kualitas Data,WFO,WFH,WFO,WFO,WFO
1,Irwansyah Lubis,"Seksi Pemeriksaan, Penilaian, dan Penagihan",WFO,WFO,WFO,WFH,WFO
2,Mufaidi,Seksi Pengawasan I,WFO,WFO,WFH,WFO,WFO
3,Djoko Prakosa,Seksi Pengawasan II,WFO,WFH,WFO,WFO,WFO
4,Soelarso,Seksi Pengawasan III,WFO,WFO,WFO,WFH,WFO
...,...,...,...,...,...,...,...
68,Taruma Eka Syaputra,KPP Pratama,WFO,WFO,WFH,WFO,WFO
69,Adhyanto Cahyo Nugroho,KPP Pratama,WFO,WFO,WFO,WFH,WFO
70,Amir Budiman,KPP Pratama,WFO,WFO,WFO,WFO,WFH
71,Pangki,KPP Pratama,WFH,WFO,WFO,WFO,WFO
72,Arini Ruth Yuni Siringo-Ringo,KPP Pratama,WFO,WFO,WFH,WFO,WFO

# List Jadwal SPT

In [ ]:
df2 = pd.read_excel('/content/jadwal_spt.xlsx')

In [34]:
df2.head(5)

,Senin,Selasa,Rabu,Kamis,Jumat
0,Zia Ul Haq,Alkhayatun Widiastuti,Djoko Prakosa,Mufaidi,Soelarso
1,Soni Liston Bukit,Wakhid Nanang Santoso,Feri Arnanda,Fanny Kusumawardhani,Riska Amelya
2,Heri Prasetyo,Galih Gumbira,Triatmoko Yusuf Cahyono,Kastolani,Feri Arnanda
3,Bambang Setioso,Diah Kusumah,Rahmi Izzati,Diah Kusumah,Pranindya Estikaningkapti
4,Ferdinand Marcos Sihotang,Fanny Kusumawardhani,Achmad Sofyan Rasyid,Galih Gumbira,Annisa Dwi Putri

In [ ]:
SENIN = list(df2['Senin'].values)
SELASA = list(df2['Selasa'].values)
RABU = list(df2['Rabu'].values)
KAMIS = list(df2['Kamis'].values)
JUMAT = list(df2['Jumat'].values)
JUMAT.append('Rudy Priambodo')

In [ ]:
df_jkantor

,NAMA_PEGAWAI,Unit_Organisasi,SENIN,SELASA,RABU,KAMIS,JUMAT
0,M. Rizal Gunawan,Seksi Penjaminan Kualitas Data,WFO,WFH,WFO,WFO,WFO
1,Irwansyah Lubis,"Seksi Pemeriksaan, Penilaian, dan Penagihan",WFO,WFO,WFO,WFH,WFO
2,Mufaidi,Seksi Pengawasan I,WFO,WFO,WFH,WFO,WFO
3,Djoko Prakosa,Seksi Pengawasan II,WFO,WFH,WFO,WFO,WFO
4,Soelarso,Seksi Pengawasan III,WFO,WFO,WFO,WFH,WFO
...,...,...,...,...,...,...,...
68,Taruma Eka Syaputra,KPP Pratama,WFO,WFO,WFH,WFO,WFO
69,Adhyanto Cahyo Nugroho,KPP Pratama,WFO,WFO,WFO,WFH,WFO
70,Amir Budiman,KPP Pratama,WFO,WFO,WFO,WFO,WFH
71,Pangki,KPP Pratama,WFH,WFO,WFO,WFO,WFO
72,Arini Ruth Yuni Siringo-Ringo,KPP Pratama,WFO,WFO,WFH,WFO,WFO

#List Nama yang available PPS

In [ ]:
bisa_senin = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["SENIN"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in SENIN:
      bisa_senin.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
bisa_selasa = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["SELASA"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in SELASA:
      bisa_selasa.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
bisa_rabu = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["RABU"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in RABU:
      bisa_rabu.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
bisa_kamis = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["KAMIS"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in KAMIS:
      bisa_kamis.append(df_jkantor['NAMA_PEGAWAI'][i])

In [ ]:
bisa_jumat = []

for i in range(0, len(df_jkantor.NAMA_PEGAWAI)):
  if df_jkantor["JUMAT"][i] == 'WFO':
    if df_jkantor['NAMA_PEGAWAI'][i] not in JUMAT:
      bisa_jumat.append(df_jkantor['NAMA_PEGAWAI'][i])

In [35]:
data = {'Senin': pd.Series(bisa_senin),
        'Selasa': pd.Series(bisa_selasa),
        'Rabu': pd.Series(bisa_rabu),
        'Kamis': pd.Series(bisa_kamis),
        'Jumat': pd.Series(bisa_jumat)}

bisa_piket = pd.DataFrame(data)
bisa_piket.head(5)

,Senin,Selasa,Rabu,Kamis,Jumat
0,M. Rizal Gunawan,Irwansyah Lubis,M. Rizal Gunawan,M. Rizal Gunawan,M. Rizal Gunawan
1,Irwansyah Lubis,Mufaidi,Irwansyah Lubis,Djoko Prakosa,Irwansyah Lubis
2,Mufaidi,Soelarso,Soelarso,Arif Wibawa,Mufaidi
3,Djoko Prakosa,Arif Wibawa,Feby Fadilah Rahmat,Sonny,Djoko Prakosa
4,Arif Wibawa,Feby Fadilah Rahmat,Hilman Hermarian,Feby Fadilah Rahmat,Sonny

In [ ]:
bisa_piket.to_excel('/content/day_available.xlsx')

In [ ]:
data2 = {'Senin': pd.Series(jadwal_senin),
        'Selasa': pd.Series(jadwal_selasa),
        'Rabu': pd.Series(jadwal_rabu),
        'Kamis': pd.Series(jadwal_kamis),
        'Jumat': pd.Series(jadwal_jumat)}

jadwal_piket = pd.DataFrame(data2)
jadwal_piket

,Senin,Selasa,Rabu,Kamis,Jumat
0,M. Rizal Gunawan,Soelarso,Wakhid Nanang Santoso,Achmad Sofyan Rasyid,Eko Budianto
1,Irwansyah Lubis,Dedi Sugianto,Fanny Kusumawardhani,Arik Purnomo,Ariany Pitaloka
2,Mufaidi,Retryani Hadi,Nanang Suhartoyo,Neni Mulyanah,Liza Purnamasari
3,Djoko Prakosa,Korry Marintan Siahaan,Muhammad Bestari,Sri Andi Widiastoto,Achmad Supriyanto
4,Arif Wibawa,Pranindya Estikaningkapti,Galih Gumbira,Triatmoko Yusuf Cahyono,Gunawan Febrianto Anthur
5,Sonny,Fitriya Elyta Fajarini,Diah Kusumah,Riska Amelya,Jhon Ferry Sinaga
6,Feby Fadilah Rahmat,Feri Arnanda,Heri Prasetyo,Bambang Setioso,Muhammad Rico Perdana
7,Hilman Hermarian,Andi Suprapto,Mustopa Ridwan,Elin Prin Herlinawati,Ihwan Habib
8,Masithah Ibrahim,Prio Santoso,Achiruddin,Rahardjo Suhargiyantomo,Abidah Hanim
9,Rizka Nur Farikhati,Soni Liston Bukit,Annisa Dwi Putri,Muhammad Ade Hidayat,Zia Ul Haq
10,Lukman Nur Hakim,Rahmi Izzati,Nurhayati,Karta Sastra,Syeh Ismail Zabarti
11,Nuke Listiawati,Kastolani,Yuwono Aji Satyo,Novrina,Taruma Eka Syaputra
12,Agus Novianto,Ferdinand Marcos Sihotang,Rudy Priambodo,Ferdhi Farid Febrian,Adhyanto Cahyo Nugroho
13,Tulus Wibowo,Suanggi Febriyanto,M. Idham,Wah Hendrix Priambudi,Pangki

In [ ]:
jadwal_piket.to_excel('/content/jadwal_piket.xlsx')

# Koordinator

In [ ]:
co = ['M. Rizal Gunawan','Irwansyah Lubis','Mufaidi','Djoko Prakosa','Soelarso','Arif Wibawa','Sonny','M. Idham','Achmad Supriyanto','Zia Ul Haq']

In [36]:
kpp = df_jkantor[df_jkantor["Unit_Organisasi"]=="KPP Pratama"]["NAMA_PEGAWAI"]
kpp = pd.DataFrame(kpp)
kpp = kpp[~kpp.NAMA_PEGAWAI.isin(co)]
kpp.reset_index(drop=True, inplace=True)
kpp.head(5)

            NAMA_PEGAWAI
0           Karta Sastra
1                Novrina
2        Ariany Pitaloka
3   Ferdhi Farid Febrian
4  Wah Hendrix Priambudi

In [37]:
pel = df_jkantor[df_jkantor["Unit_Organisasi"]=="Seksi Pelayanan"]["NAMA_PEGAWAI"]
pel = pd.DataFrame(pel)
pel.reset_index(drop=True, inplace=True)
pel.head(5)

          NAMA_PEGAWAI
0  Feby Fadilah Rahmat
1     Hilman Hermarian
2     Masithah Ibrahim
3        Dedi Sugianto
4  Rizka Nur Farikhati

In [ ]:
co_senin = []
co_selasa = []
co_rabu = []
co_kamis = []
co_jumat = []

kpp_senin = []
kpp_selasa = []
kpp_rabu = []
kpp_kamis = []
kpp_jumat = []

pel_senin = []
pel_selasa = []
pel_rabu = []
pel_kamis = []
pel_jumat = []

jadwal_senin = []
jadwal_selasa = []
jadwal_rabu = []
jadwal_kamis = []
jadwal_jumat = []

batas = 6 
batas_co = 2
batas_pel = 1
batas_kpp = 1

#senin
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Senin.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if len(co_senin) < batas_co:
        co_senin.append(df_jkantor["NAMA_PEGAWAI"][i])
      
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if len(kpp_senin) < batas_kpp:
        kpp_senin.append(df_jkantor["NAMA_PEGAWAI"][i])
      
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if len(pel_senin) < batas_pel:
        pel_senin.append(df_jkantor["NAMA_PEGAWAI"][i])
     
    else: 
      if len(jadwal_senin) < batas:
        jadwal_senin.append(df_jkantor["NAMA_PEGAWAI"][i])
      

#selasa
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Selasa.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if df_jkantor["NAMA_PEGAWAI"][i] not in co_senin:
        if len(co_selasa) < batas_co:
          co_selasa.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in kpp_senin:
        if len(kpp_selasa) < batas_kpp:
          kpp_selasa.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in pel_senin:
        if len(pel_selasa) < batas_pel:
          pel_selasa.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    else: 
      if df_jkantor["NAMA_PEGAWAI"][i] not in jadwal_senin:
        if len(jadwal_selasa) < batas:
          jadwal_selasa.append(df_jkantor["NAMA_PEGAWAI"][i])
        

#rabu
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Rabu.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if df_jkantor["NAMA_PEGAWAI"][i] not in co_senin + co_selasa:
        if len(co_rabu) < batas_co:
          co_rabu.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in kpp_senin + kpp_selasa:
        if len(kpp_rabu) < batas_kpp:
          kpp_rabu.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in pel_senin + pel_selasa:
        if len(pel_rabu) < batas_pel:
          pel_rabu.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    else: 
      if df_jkantor["NAMA_PEGAWAI"][i] not in jadwal_senin + jadwal_selasa:
        if len(jadwal_rabu) < batas:
          jadwal_rabu.append(df_jkantor["NAMA_PEGAWAI"][i])
        

#kamis
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Kamis.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if df_jkantor["NAMA_PEGAWAI"][i] not in co_senin + co_selasa + co_rabu:
        if len(co_kamis) < batas_co:
          co_kamis.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in kpp_senin + kpp_selasa + kpp_rabu:
        if len(kpp_kamis) < batas_kpp:
          kpp_kamis.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in pel_senin + pel_selasa + pel_rabu:
        if len(pel_kamis) < batas_pel:
          pel_kamis.append(df_jkantor["NAMA_PEGAWAI"][i])
       
    else: 
      if df_jkantor["NAMA_PEGAWAI"][i] not in jadwal_senin + jadwal_selasa + jadwal_rabu:
        if len(jadwal_kamis) < batas:
          jadwal_kamis.append(df_jkantor["NAMA_PEGAWAI"][i])
       

#jumat
for i in range(0, len(df_jkantor.NAMA_PEGAWAI)): 
  if df_jkantor["NAMA_PEGAWAI"][i] in bisa_piket.Jumat.values:
    if df_jkantor["NAMA_PEGAWAI"][i] in co:
      if df_jkantor["NAMA_PEGAWAI"][i] not in co_senin + co_selasa + co_rabu + co_kamis:
        if len(co_jumat) < batas_co:
          co_jumat.append(df_jkantor["NAMA_PEGAWAI"][i])
        
    elif df_jkantor["NAMA_PEGAWAI"][i] in kpp.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in kpp_senin + kpp_selasa + kpp_rabu + kpp_kamis:
        if len(kpp_jumat) < batas_kpp:
          kpp_jumat.append(df_jkantor["NAMA_PEGAWAI"][i])
       
    elif df_jkantor["NAMA_PEGAWAI"][i] in pel.values:
      if df_jkantor["NAMA_PEGAWAI"][i] not in pel_senin + pel_selasa + pel_rabu + pel_kamis:
        if len(pel_jumat) < batas_pel:
          pel_jumat.append(df_jkantor["NAMA_PEGAWAI"][i])
       
    else: 
      if df_jkantor["NAMA_PEGAWAI"][i] not in jadwal_senin + jadwal_selasa + jadwal_rabu + jadwal_kamis:
        if len(jadwal_jumat) < batas:
          jadwal_jumat.append(df_jkantor["NAMA_PEGAWAI"][i])

In [ ]:
data3 = {'Senin': pd.Series(co_senin + kpp_senin + pel_senin + jadwal_senin),
        'Selasa': pd.Series(co_selasa + kpp_selasa + pel_selasa + jadwal_selasa),
        'Rabu': pd.Series(co_rabu + kpp_rabu + pel_rabu + jadwal_rabu),
        'Kamis': pd.Series(co_kamis + kpp_kamis + pel_kamis + jadwal_kamis),
        'Jumat': pd.Series(co_jumat + kpp_jumat + pel_jumat + jadwal_jumat)}

jadwal_pps = pd.DataFrame(data3)
jadwal_pps

,Senin,Selasa,Rabu,Kamis,Jumat
0,M. Rizal Gunawan,Mufaidi,M. Idham,Djoko Prakosa,Sonny
1,Irwansyah Lubis,Soelarso,Zia Ul Haq,Arif Wibawa,Achmad Supriyanto
2,Novrina,Karta Sastra,Ariany Pitaloka,Ferdhi Farid Febrian,Wah Hendrix Priambudi
3,Feby Fadilah Rahmat,Masithah Ibrahim,Hilman Hermarian,Dedi Sugianto,Rizka Nur Farikhati
4,Agus Novianto,Pranindya Estikaningkapti,Fanny Kusumawardhani,Arik Purnomo,Mustopa Ridwan
5,Tulus Wibowo,Fitriya Elyta Fajarini,Nanang Suhartoyo,Neni Mulyanah,Kastolani
6,Korry Marintan Siahaan,Feri Arnanda,Muhammad Bestari,Sri Andi Widiastoto,Rahardjo Suhargiyantomo
7,Wakhid Nanang Santoso,Andi Suprapto,Galih Gumbira,Rahmi Izzati,Yuwono Aji Satyo
8,Achmad Sofyan Rasyid,Prio Santoso,Diah Kusumah,Ferdinand Marcos Sihotang,Muhammad Ade Hidayat
9,Eko Budianto,Soni Liston Bukit,Heri Prasetyo,Suanggi Febriyanto,NaN

In [ ]:
jadwal_pps.to_excel('/content/jadwal_pps.xlsx')